<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.consumables.basedata.warehouse.mapper.WarehouseMapper">

    <resultMap id="warehouseResultMap" type="com.company.consumables.basedata.warehouse.entity.Warehouse">
        <id column="S_ID" property="sId"/>
        <result column="S_TENANT_ID" property="sTenantId"/>
        <result column="S_CODE" property="sCode"/>
        <result column="S_NAME" property="sName"/>
        <result column="I_LOCATION_TYPE" property="iLocationType"/>
        <result column="I_STATUS" property="iStatus"/>
        <result column="DT_CREATE_TIME" property="dtCreateTime"/>
        <result column="DT_UPDATE_TIME" property="dtUpdateTime"/>
        <result column="S_CREATE_USER" property="sCreateUser"/>
        <result column="S_UPDATE_USER" property="sUpdateUser"/>
    </resultMap>

    <insert id="insert" parameterType="com.company.consumables.basedata.warehouse.entity.Warehouse">
        INSERT INTO TAB_WAREHOUSE
        (S_ID, S_TENANT_ID, S_CODE, S_NAME, I_LOCATION_TYPE, I_STATUS,
         DT_CREATE_TIME, DT_UPDATE_TIME, S_CREATE_USER, S_UPDATE_USER)
        VALUES
        (#{sId}, #{sTenantId}, #{sCode}, #{sName}, #{iLocationType}, #{iStatus},
         #{dtCreateTime}, #{dtUpdateTime}, #{sCreateUser}, #{sUpdateUser})
    </insert>

    <update id="update" parameterType="com.company.consumables.basedata.warehouse.entity.Warehouse">
        UPDATE TAB_WAREHOUSE
        SET S_CODE = #{sCode},
            S_NAME = #{sName},
            I_LOCATION_TYPE = #{iLocationType},
            I_STATUS = #{iStatus},
            DT_UPDATE_TIME = #{dtUpdateTime},
            S_UPDATE_USER = #{sUpdateUser}
        WHERE S_ID = #{sId}
    </update>

    <delete id="deleteById">
        DELETE FROM TAB_WAREHOUSE WHERE S_ID = #{sId}
    </delete>

    <select id="selectById" resultMap="warehouseResultMap">
        SELECT S_ID, S_CODE, S_NAME, I_LOCATION_TYPE, I_STATUS,
               DT_CREATE_TIME, DT_UPDATE_TIME, S_CREATE_USER, S_UPDATE_USER
        FROM TAB_WAREHOUSE
        WHERE S_ID = #{sId}
    </select>

    <select id="countByCode" resultType="int">
        SELECT COUNT(*)
        FROM TAB_WAREHOUSE
        WHERE S_CODE = #{sCode}
        <if test="excludeId != null and excludeId != ''">
            AND S_ID != #{excludeId}
        </if>
    </select>

    <sql id="pageCondition">
        <where>
            <if test="sName != null and sName != ''">
                AND S_NAME LIKE CONCAT('%', #{sName}, '%')
            </if>
            <if test="iLocationType != null">
                AND I_LOCATION_TYPE = #{iLocationType}
            </if>
        </where>
    </sql>

    <select id="selectPage" resultMap="warehouseResultMap">
        SELECT S_ID, S_CODE, S_NAME, I_LOCATION_TYPE, I_STATUS,
               DT_CREATE_TIME, DT_UPDATE_TIME, S_CREATE_USER, S_UPDATE_USER
        FROM TAB_WAREHOUSE
        <include refid="pageCondition"/>
        ORDER BY DT_CREATE_TIME DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="countPage" resultType="long">
        SELECT COUNT(*)
        FROM TAB_WAREHOUSE
        <include refid="pageCondition"/>
    </select>

    <select id="countStockByWarehouseId" resultType="int">
        SELECT COUNT(*) FROM TAB_STOCK WHERE S_WAREHOUSE_ID = #{warehouseId}
    </select>

    <select id="countFlowByWarehouseId" resultType="int">
        SELECT COUNT(*) FROM TAB_STOCK_FLOW WHERE S_WAREHOUSE_ID = #{warehouseId}
    </select>

</mapper>
